{% extends 'base.html' %}
{% load static %}


{% block content %}

	<div>
		<a href="{% url 'task-create' project.id %}"><button>Create Task</button></a>
	</div>
	<table>
		<tbody>
			<tr>
				<th>Task Name</th>
				<th>Task Desctiption </th>
				<th>Start Date</th>
				<th>End Date</th>	
				<th>Edit</th>
				<th>Delete</th>			
			</tr>
			{% for task in tasks %}
				<tr>
					<td><a href="{% url 'task-detail' project.id task.id %}">{{ task.name }}</a></td>
					<td>{{ task.description }}</td>
					<td>{{ task.start_date }}</td>
					<td>{{ task.end_date }}</td>
					<td><a href="{% url 'task-edit' project.id task.id %}">edit</a></td>
					<td><a href="{% url 'task-delete' project.id task.id %}">delete</a></td>

				</tr>			
			{% endfor %}
			
		</tbody>

	</table>
	

{% endblock content %}